<div>
    <div [hidden]="visibleForm">
        <p>
            Saldo:
        </p>
        <p>
            {{founds}}
        </p>
        <button (click)="addMore()">
            add
        </button>
    </div>

    <div [hidden]="!visibleForm">
        <form [formGroup]="form" (ngSubmit)="addCrypto(form.value)">
            <div>
                <label for="crypto">Cantity to add</label>
                <input id="crypto" formControlName="crypto">
            </div>
            <button type="submit">
                addCrypto
            </button>
        </form>
    </div>

</div>