<div class="container">
    <form [formGroup]="form" (ngSubmit)="logingUser(form.value)">

        <div class="form-group">
            <label for="userNameInput">Username</label>
            <input id="userNameInput"class="form-control" 
                formControlName="userName">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input id="passwordInput" class="form-control"  
                formControlName="password">
        </div>
        
        <button class="btn btn-primary" type="submit">
            Loging
        </button>

    </form>
</div>
<ngb-alert #staticAlert type="danger" *ngIf="wrongUserOrPassword" 
    (closed)="wrongUserOrPassword = false">Wrong user or password</ngb-alert>