<div class="container-fluid">
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Wallets:</p>
        </div>
        <div class="col">
            <ngb-alert #staticAlert type="danger" *ngIf="maxNumberOfWalletOrError" 
            (closed)="maxNumberOfWalletOrError = false">Maximum number of wallets reached or error</ngb-alert>
        </div>
    </div>
    <div>
        <ol>
            <li *ngFor="let wallet of wallets, index as walletId">
                <app-consult-founds [walletNumber]="walletId" 
                (foundsForAdd)="addFoundToWallet($event)"></app-consult-founds>
            </li>
        </ol>
    </div>
    <div>
        <button class="btn btn-primary" (click)="createNewWallet()">
            Create wallet
        </button>
    </div>
</div>